* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0px; /* 도달했을때 고정시킬 위치 */
  padding: 5px;
  /*z-index: 10;*/
  height: 64px;
  background-color: #ffffff;
}

main {
  height: 750px;
  background-color: #fffae0;
}

#section1 {
  height: 750px;
  background-color: #f9f9f9;
}
#section2 {
  height: 750px;
  background-color: #fff8f1;
}
#section3 {
  height: 750px;
  background-color: #f9f9f9;
}
#section4 {
  height: 750px;
  background-color: #f6fdeb;
}

footer {
  height: 647.52px;
  margin: 0 auto;
  background-color: #ffffff;
}