* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 5;
  top: 0px; /* 도달했을때 고정시킬 위치 */
  height: 64px;
  width: 100%;
  background-color: #ffffff;
}
#wrapLogo {
  width: 103px;
  height: 38px;
}
#logo {
  width: 63px;
  height: 33px;
}
a {
  text-align: center;
}
a:visited {
  color: black;
}
a:hover{
  color: #868b94;
}
a:active {
  color: #fe6f0f;
}

#textColor{
  color: #fe6f0f;
}

.bigBox1 {
  width: 1155px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 670px;
  height: 25px;
  margin: 0 auto;
}

#wrapInputText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 389.37px;
  height: 38px;
}

.menu {
  display: flex;
  float:left;
  gap: 29px;
}
.menu li {
  font-weight: 30%;
  font-size: 113%;
  display:inline-block;
  text-align:center;
}

input[type=text] {
  width: 140%;
  height: 105%;
  margin: 10px;
  padding: 13px;
  font-size: 16px;
  background: #f2f3f6;
  border-radius: 5px;
  outline: none;
  border: 0;
  color: #868b94;
}
input[type=text]:focus {
  color: black;
}

button {
  width: 180px;
  height: 105%;
  border: 0.6px solid #a3a1a1;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
}


#section1,
#section2,
#section3,
#section4,
footer {
  height: 750px;
}

.indexMain {
  height: 750px;
  background-color: #fffae0;
}
.font {
  font-size: 53.4px;
  line-height: 76px;
  width: 1024px;
  height: 137px;
}
p{
  padding: 40px 0px 0px;
  font-size: 20px;
  line-height: 32px;
  color: #7c7c7c;
  height: 60px;
}
#daangnee {
  position: relative;
  bottom: 650px;
  left: 750px;
  width: 645px;
  height: 790px;
}
#test {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 14%;
  flex-direction: column;
}

.mainButton {
  width: 180px;
  height: 56px;
  border-radius: 10px;
  border-style: none;
  background-color: #fe6f0f;
  color: #ffffff;
  font-size: 16px;
}

.buttonLogoImgGP {
  position: relative;
  left: -5px;
  top: 3px;
}

.buttonLogoImgAS {
  position: relative;
  left: -7px;
  top: 0.4px;
}

.AStext {
  position: relative;
  bottom: 4px;
}
.GPtext {
  position: relative;
  bottom: 3px;
}

.mainButton > span{
  margin-bottom: 10px;
}

span {
  text-align: center;
}

#buttonSort{
  width: 27%;
  height: 56px;
  position: relative;
  bottom: 930px;
  left: 5px;
  margin-left: 199px;
  display: flex;
  justify-content: space-between;
}
#section1,
#section3 {
  background-color: #f9f9f9;
}

#section2 {
  background-color: #fff8f1;
}

#section4 {
  background-color: #f6fdeb;
}

footer {
  height: 647.52px;
  background-color: #ffffff;
}

#banner {
  width: 100%;
  height: 380px;
  padding-right: 23%;
  padding-left: 24%;
  background-color: #FFF1AA;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: end; */
}

#headerBanner {
  width: 416px;
  height: 318px;
  position: relative;
  bottom: 116px;
  left: 355px;
}

#pageText {
  font-size: 33px;
  width: 768px;
  height: 130px;
  line-height: 50px;
  position: relative;
  bottom: -120px;
}

#pagePtext {
  width: 768px;
  height: 47.52px;
  color: #212529;
  position: relative;
  bottom: -65px;
  left: 3px;
}