main {
    margin-top: 64px;
}

#fleamarket-article-list {
    padding-top: 64px;
}

#fleamarket-article-list > h1 {
    font-size: 32px;
    line-height: 43.2px;
    text-align: center;
    margin-bottom: 40px;
}

#card-wrap {
    width: 757px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 56px;
}

.card > a {
    text-decoration: none;
}

.card-photo {
    width: 223px;
    height: 223px;
}

.card-photo > img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #D3D4D5;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}


.card-desc {
    margin-top: 12px;
}

.card-title {
    margin-bottom: 4px;
    color: #212529;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: -0.02px;
}

.card-price {
    margin-bottom: 4px;
    color: rgb(33, 37, 41);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
}

.card-region-name {
    margin-bottom: 4px;
    color: #212529;
    font-size: 13px;
    line-height: 1.5;
}

.card-counts{
    color: #868e96;
    font-size: 13px;
}

.a-black-bold {
    font-size: 16px;
    font-weight:600;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: rgb(33, 37, 41);
}

#article-list-more {
    padding-bottom: 80px;
    text-align: center;
}